
#container {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    height: 40vh;
}

body header {
    display: inline-block;
}

#score {
    align-items: flex-start;
}

#timer {
    align-items: right;
}

.greeting {
    display: block;
}

.controls {
    display: block;
}

.hide {
    display: none;
}
