body {
    background-color: blanchedalmond;
}

html {
    font-size: 100%;
}

.inline {
    display: inline;
}

#quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 200px;
    padding-bottom: 150px;
    padding-top: 50px;
    border: 15px double blanchedalmond;
    border-radius: 100px;
}

#quiz-container div {
    padding: 100px;
}

section {
    
    background-color: rgb(119, 119, 226);
}

#timer-container span {
    float: right;
    font-size: 2rem;
}